.ifield {
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
  background: transparent;
}
.qfield {
  /* background: blue; */
  /* width: 600px; */
}
* {
  font-family: arial;
}
